@import '~@angular/material/theming';

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #001190;
}

.center{
    text-align: center;
}

p, button, li{
    font-family: 'Nunito';
}

p, li{
    color: #495057;
    font-size: 18px;
}

li{
    line-height: 32px;
}

.button-venda{
    border: none;
    border-radius: 5px;
    background-color: #33CCCC;
    width: 243px;
    height: 50px;
}

a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}