<div fxFlex fxLayout="column" fxLayoutAlign="nome center" class="container">
    <div class="center w-100">
        <h1>
            <b>Venda o seu veículo</b>
        </h1>
        <p>
            <b>Aqui você consegue vender o seu veículo de forma simples e fácil.</b>
        </p>
        <p>
            <b>seguir os três passos a baixo:</b>
        </p>
    
        <div class="my-20">
            <ol fxLayout="column" fxLayoutGap="10px">
                <li fxFlex fxLayout.lt-md="column">
                    Coloque as informações do basica: (Ano, Cor, Modelo, Marca, etc.);
                </li>
                <li fxFlex fxLayout.lt-md="column">
                    Coloque o valor que você espera para o seu veículo;
                </li>
                <li fxFlex fxLayout.lt-md="column">
                    Aguarde a avaliação;
                </li>
            </ol>
        </div>
    </div>
    <div class="my-20">
        <button fxFlex="100" mat-button class="okay-button px-50">
            <a routerLink="/deslogado/login">Vender</a>
        </button>
    </div>
</div>