<div id="header"  fxLayout.gt-sm="row" fxLayout.sm="column">
    <div fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon class="pb-10 icon-principal">star_border_purple500</mat-icon>
        <h1>SiteVeiculos</h1>

        <div fxLayoutAlign="end none" fxHide.gt-sm fxShow.lt-md>
            <button mat-button class="button-login" fxLayoutAlign="none center">
                <a routerLink="/deslogado/login">Entrar</a>
            </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign.gt-sm="end center" fxLayoutGap.gt-sm="10px" fxLayoutGap.lt-md="5px">
        <button class="menu" mat-button>Sobre nós</button>
        <button class="menu" mat-button>Veículos</button>
        <button class="menu" mat-button>Contato</button>

        <button mat-button class="button-login" fxLayoutAlign="none center" fxShow.gt-sm fxHide.lt-md>
            <a routerLink="/deslogado/login">Entrar</a>
        </button>
    </div>
</div>