#header{
    background-color: #F1F9FF;
    padding: 20px;
}

h1{
    font-family: 'Nunito' !important;
}

h1, .icon-principal{
    color: #001190;
    font-weight: bold;
    font-size: 28px;
    text-transform: none !important;
    margin-bottom: 0px !important;
}

.menu{
    color: #495057;
    font-size: 18px;
    border-bottom: solid 2px #33CCCC !important; 
    border: none;
    border-radius: 0% !important; 
    background: none;
}

.button-login{
    background-color: #001190;
    width: 81px;
    height: 33px;
}

@media  (max-width: 768px) {
    .w-100{
        width: 100%;
    }

    h1{
        font-size: 24px;
    }

    .menu{
        font-size: 18px;
    }
}