#header{
    background-color: #F1F9FF;
    padding: 20px;
}

h1, button{
    font-family: 'Nunito';
}

h1, .icon-principal{
    color: #001190;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0px !important;
}

.pb-10{
    padding-bottom: 10px;
}

.menu{
    color: #495057;
    font-size: 18px;
    border-bottom: solid 2px #33CCCC !important; 
    border: none;
    border-radius: 0% !important; 
    background: none;
}

.button-login{
    background-color: #001190;
    border: none;
    width: 81px;
    height: 33px;
    border-radius: 5px;
}

a{
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

@media  (max-width: 768px) {
    h1{
        font-size: 24px;
    }

    .menu{
        font-size: 18px;
    }
}