<div id="header" fxFlexFill fxLayout="row">
    <div fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon class="pb-10 icon-principal">star_border_purple500</mat-icon>
        <h1>SiteVeiculos</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button class="menu" mat-button>Sobre nós</button>
        <button class="menu" mat-button>Veículos</button>
        <button class="menu" mat-button>Contato</button>

        <button mat-button class="button-login" fxLayoutAlign="none center">
            <a routerLink="/deslogado/login">Entrar</a>
        </button>
    </div>
</div>