<div fxFlex fxLayout="column" fxLayoutAlign="nome center" class="container">
    <div class="pd-10">
        <h1>Entre em contato conosco</h1>
    </div>

    <div fxLayout="column" class="w-100">
        <div fxLayout="row" class="py-10">
            <mat-label class="pr-10">E-mail:</mat-label>
            <input matInput type="text" name="email" placeholder="Digite seu e-mail" fxFlex="70">
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" class="py-10">
            <mat-label class="pr-10">Digite a sua dúvida:</mat-label>
            <textarea name="message" id="messagem" cols="45" rows="10" fxLayoutAlign="end center" style="resize: none"></textarea>
            <!-- <input matInput type="text" name="email" placeholder="Digite seu e-mail"> -->
        </div>
    </div>
</div>