<div fxFlex fxLayout="column" fxLayoutAlign="nome center" class="container">
    <div class="center">
        <h1>Venda o seu veículo</h1>
        <p>
            Aqui você consegue vender o seu veículo de forma simples e fácil.
        </p>
        <p>
            Basta seguir os três passos a baixo:
        </p>
    
        <div class="my-20">
            <ol>
                <li>
                    Coloque as informações do basica: (Ano, Cor, Modelo, Marca, etc.);
                </li>
                <li>
                    Coloque o valor que você espera para o seu veículo;
                </li>
                <li>
                    Aguarde a avaliação;
                </li>
            </ol>
        </div>
    </div>
    <div class="my-20">
        <button mat-button class="button-venda">
            <b>Vender</b>
        </button>
    </div>
</div>