@import '~@angular/material/theming';
@import '/src/styles.scss';

h4{
    font-family: 'Nunito';
    font-size: 22px;
    color: #001190;
}

p b{
    font-family: 'Montserrat';
    color: #001190;
}

a{
    color: #495057;
    border-bottom: solid 2px #33CCCC !important;
}

.disable{
    color: #495057;
}

.okay-button a{
    color: #FFFFFF;
    font-size: 20px !important;
}

span{
    font-family: 'Nunito';
    font-size: 18px;
    color: #ADB5BD;
}

@media  (max-width: 768px) {
    h1{
        text-align: center;
    }
}