@import '~@angular/material/theming';
@import '/src/styles.scss';

.container-mx{
	margin: 20px;
    padding: 0rem 12rem 0rem 12rem;
}

h4{
    font-family: 'Nunito';
    font-size: 22px;
    color: #001190;
    font-weight: bold;
}

.container-mx{
	margin: 20px;
    padding: 0rem 12rem 0rem 12rem;
}

.container-min{
    margin: 20px;
    padding: 1.5rem 5rem 1.5rem 5rem;
}

p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: #001190;
}

.mat-form-field{
    padding: 10px;
}

input{
    color: #495057;
    padding: 5px;
}

a{
    color: #495057;
    border-bottom: solid 2px #33CCCC !important;
}

input, .disable{
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: bold;
}

.conclued-button, .conclued-button a{
    background-color: #33CCCC;
    width: 130px;
    height: 50px;
}

span{
    font-family: 'Nunito';
    font-size: 18px;
    color: #ADB5BD;
}

.disable{
    color: #495057;
}

@media  (max-width: 768px) {
    .container-mx{
        padding: 0rem;
		margin: 0px;
    }

    .container-min{
        padding: 2rem 1.5rem 2rem 1.5rem;
		margin: 0px;
    }

    h1{
        text-align: center;
    }
}