#footer{
    background-color: #001190;
    padding: 40px;
    color: #FFFFFF;
}

h1, button{
    font-family: 'Nunito';
}

h1{
    font-weight: bold;
    font-size: 28px;
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    font-size: 18px;
}

.pt-20{
    padding-top: 20px;
}