<div id="footer" fxFlex fxLayout="column" fxLayoutAlign="none center">
    <div fxLayoutGap="10px" fxLayout="row">
        <mat-icon class="icon-principal">star_border_purple500</mat-icon>
        <h1>SiteVeiculos</h1>
    </div>
    
    <div class="menu" fxLayout="column" fxLayoutGap="20px">
        <button mat-button>Sobre nós</button>
        <button mat-button>Veículos</button>
        <button mat-button>Contato</button>
    </div>

    <div fxFlex fxLayoutAlign="end none" class="pt-20">
        © Copyright 2021.
    </div>
</div>