#footer{
    background-color: #001190;
    padding: 40px;
    color: #FFFFFF;
    width: 100%;
}

h1 b{
    color: #FFFFFF !important;
    text-transform: none !important;
    font-family: 'Nunito' !important;
}