#footer{
    background-color: #001190;
    padding: 40px;
    color: #FFFFFF;
    width: 100%;
}

h1, button{
    font-family: 'Nunito' !important;
}

h1{
    font-weight: bold;
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    font-size: 18px;
}