<div fxFlex fxLayout="column" fxLayoutAlign="nome center" class="container">
    <div class="pd-10">
        <h1>Entre em contato conosco</h1>
    </div>

    <div fxLayout="column" fxLayoutAlign="center none">
        <div fxLayout="row" class="py-10" fxLayoutGap="40px" fxLayoutAlign="center none">
            <mat-label fxLayoutAlign="start center">E-mail:</mat-label>
            <input matInput type="text" name="email" placeholder="Digite seu e-mail">
        </div>

        <div fxLayout="row" class="py-10" fxLayoutGap="40px">
            <mat-label fxLayoutAlign="start start">Mensagem:</mat-label>
            <textarea name="message" id="messagem" style="resize: none"></textarea>
        </div>
    </div>
</div>