@import '~@angular/material/theming';

.center{
    text-align: center;
}

h1{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #001190;
}

mat-label{
    color: #001190;
    font-size: 18px;
    font-weight: bold;
}

input, textarea{
    border: 1px solid #ADB5BD;
    border-radius: 5px;
    color: #495057;
    font-family: 'Nunito';
    font-size: 18px;
    padding: 10px;
}

input{
    height: 60px;
    // width: 400px;
}

textarea{
    height: 157px;
    // width: 437px;
}

.center{
    width: 100%;
    justify-content: center;
}

.w-100{
    width: 100%;
}

.pd-10{
    padding: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pr-10{
    padding-right: 10px;
}

@media  (max-width: 768px) {
    h1{
        text-align: center;
    }

    // input{
    //     height: 35px;
    // }
}