@import '~@angular/material/theming';
@import '/src/styles.scss';

.center{
    text-align: center;
}

input, textarea{
    border: 1px solid #ADB5BD;
    border-radius: 5px;
    color: #495057;
    font-family: 'Nunito';
    font-size: 18px;
    padding: 10px;
}

input{
    height: 60px;
}

textarea{
    height: 157px;
}

.center{
    width: 100%;
    justify-content: center;
}

.button-send{
    border: none;
    border-radius: 5px;
    background-color: #33CCCC;
    width: 243px;
    height: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Nunito';
}

@media  (max-width: 768px) {
    h1{
        text-align: center;
    }
}