<div fxFlex fxLayout="column" fxLayoutAlign="nome center" class="container">
    <div class="pd-10">
        <h1>Entre em contato conosco</h1>
    </div>

    <div fxLayout="column" fxLayoutAlign="center none" class="w-100" fxLayoutGap.lt-sm="10px">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="py-10" fxLayoutGap.gt-sm="55px" fxLayoutGap.lt-md="10px" fxLayoutAlign="center none">
            <mat-label fxLayoutAlign="start center">E-mail:</mat-label>
            <input matInput type="text" name="email" placeholder="Digite seu e-mail" fxFlex.gt-sm="45" fxFlex.lt-md="100">
        </div>

        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="py-10" fxLayoutGap.gt-sm="40px" fxLayoutGap.lt-md="10px" fxLayoutAlign="center none">
            <mat-label fxLayoutAlign="start start">Mensagem:</mat-label>
            <textarea name="message" id="mensagem" style="resize: none" fxFlex.gt-sm="50"></textarea>
        </div>
    </div>

    <div class="my-20">
        <button mat-button class="button-send">
            Enviar
        </button>
    </div>
</div>