<div fxLayout="column" fxLayoutAlign="center none" class="container">
    <form (ngSubmit)="enviarSenha()">
        <div *ngIf="!sendCode">
            <section fxLayout="column" fxLayoutAlign="none center" class="cabecalho pd-10">
                <h1>Esqueci minha senha</h1>

                <p>Um código foi enviado para o seu e-mail:</p>
                <p> lu...eca@gmail.com</p>
            </section>

            <section class="container-mx pd-10" fxLayout="column">
                <p>
                    <b>Digite o código:</b>
                </p>

                <div fxLayout="row" fxLayoutAlign.gt-sm="space-between center" fxLayoutAlign.lt-md="none center" fxLayoutGap.lt-md="8px" class="pt-10">
                    <input fxFlex.gt-sm="9" fxFlex.lt-md="18" type="text" name="code" id="code" class="input-code">
                    <input fxFlex.gt-sm="9" fxFlex.lt-md="18" type="text" name="code" id="code" class="input-code">
                    <input fxFlex.gt-sm="9" fxFlex.lt-md="18" type="text" name="code" id="code" class="input-code">
                    <input fxFlex.gt-sm="9" fxFlex.lt-md="18" type="text" name="code" id="code" class="input-code">
                    <input fxFlex.gt-sm="9" fxFlex.lt-md="18" type="text" name="code" id="code" class="input-code">
                </div>
            </section>

            <section fxLayoutAlign="end end" class="pt-20">
                <button type="submit" matButton class="conclued-button" (click)="enviarSenha()" [disabled]="">
                    Próximo
                </button>
            </section>
        </div>

        <div *ngIf="sendCode">
            <section fxLayout="column" fxLayoutAlign="none center">
                <h1>Digite a nova senha</h1>
            </section>

            <section fxLayout="column" fxLayoutAlign="none center">
                <mat-form-field appearance="fill" class="pd-10">
                    <mat-label>Senha: </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> -->
                </mat-form-field>

                <mat-form-field appearance="fill" class="pd-10">
                    <mat-label>Confirmação da Senha:</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> -->
                </mat-form-field>
            </section>

            <section fxLayoutAlign="end end" class="pd-20">
                <button type="submit" matButton class="conclued-button" [disabled]="">
                    <a routerLink="/deslogado/login">Confirmar</a>
                </button>
            </section>
        </div>
    </form>
</div>