<div fxLayout="column" fxLayoutAlign="center none" class="container">
    <div *ngIf="!sendCode">
        <section fxLayout="column" fxLayoutAlign="none center">
            <h1>Esqueci minha senha</h1>

            <p>Um código foi enviado para o seu e-mail:</p>
            <p> lu...eca@gmail.com</p>
        </section>

        <section class="container-mx" fxLayout="column">
            <p>
                <b>Digite o código:</b>
            </p>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-10">
                <input type="text" name="code" id="code">
                <input type="text" name="code" id="code">
                <input type="text" name="code" id="code">
                <input type="text" name="code" id="code">
                <input type="text" name="code" id="code">
            </div>
        </section>

        <section fxLayoutAlign="end end" class="pd-20">
            <button type="submit" matButton class="conclued-button" (click)="enviarSenha()">
                Confirmar
            </button>
        </section>
    </div>

    <div *ngIf="sendCode">

    </div>
</div>