// width
.w-100{
    width: 100%;
}

// padding
.pd-10{
    padding: 10px;
}

.pd-20{
    padding: 20px;
}

// padding-top
.pt-5{
    padding-top: 5px;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}


// padding-bottom
.pb-10{
    padding-bottom: 10px;
}


// py
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

// padding-rigth
.pr-10{
    padding-right: 10px;
}

// px (padding-right + padding-left)
.px-25{
    padding: 0px 25px !important;
}

.px-50{
    padding: 0px 50px !important;
}



// margin
.m-10{
    margin: 10px;
}


// my
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}


// mx
.mx-40{
    margin-right: 40px;
    margin-left: 40px;
}