//width
.w-100{
    width: 100%;
}

// padding
.pd-10{
    padding: 10px;
}


//padding-top
.pt-5{
    padding-top: 5px;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}


//padding-bottom
.pb-10{
    padding-bottom: 10px;
}


//py padding-top, padding-bottom
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}


//px padding-rigth, padding-left


.pr-10{
    padding-right: 10px;
}



// margin
.m-10{
    margin: 10px;
}

//my margin-top, margin-bottom
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}


//mx margin-rigth, margin-left
.mx-40{
    margin-right: 40px;
    margin-left: 40px;
}