// container da tela
.container{
	margin: 20px;
	padding: 4rem 5rem 5rem 5rem;
}

.container-mx{
	margin: 20px;
    padding: 0rem 12rem 0rem 12rem;
}

.container-min{
    margin: 20px;
    padding: 1.5rem 5rem 1.5rem 5rem;
}

@media  (max-width: 768px) {
    .container{
        padding: 3rem 1rem 3rem 1rem;
		margin: 0px;
    }

    .container-mx{
        padding: 0rem;
		margin: 0px;
    }

    .container-min{
        padding: 2rem 1.5rem 2rem 1.5rem;
		margin: 0px;
    }
}