@import '~@angular/material/theming';
@import '/src/styles.scss';

input{
    border: 1px solid #ADB5BD;
    border-radius: 5px;
    height: 49px;
    padding: 0px 10px;
}

mat-error, .forget{
    color: #E03131 !important;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.underline{
    font-family: 'Nunito';
    font-size: 18px;
    color: #495057;
    border-bottom: solid 2px #33CCCC !important; 
}