.pd-10{
    padding: 10px;
}

mat-label{
    color: #001190;
    font-size: 18px;
    font-weight: bold;
}

input{
    border: 1px solid #ADB5BD;
    border-radius: 5px;
    height: 49px;
    width: 330px;
}