<div fxLayout="column" fxLayoutAlign="none center" class="container">
    <h1>Login</h1>

    <div fxLayout="column" class="pd-10">
        <section fxLayoutGap="40px" class="pd-10" fxLayoutAlign="end center">
            <mat-label>CPF:</mat-label>
            <div fxLayout="column">
                <input matInput type="text" name="cpf" mask="000.000.000-00" placeholder="Digite seu CPF" >
                <!-- <mat-error class="pt-5">CPF inválido. Tente novamente!</mat-error> -->
            </div>
        </section>

        <section fxLayoutGap="40px" class="pd-10" fxLayoutAlign="end center">
            <mat-label>Senha:</mat-label>
            <div fxLayout="column">
                <input matInput type="password" name="senha" placeholder="Digite a sua senha">
                <!-- <mat-error class="pt-5">Senha inválido. Tente novamente!</mat-error>  -->
                <a routerLink="/deslogado/inicial" class="pt-5 forget">Esqueci minha senha!</a>
            </div>
        </section>
    </div>

    <div fxLayout="column" fxLayoutAlign="none center" class="pd-10" fxLayoutGap="10px">
        <button mat-button class="button-login">
            <b>Entrar</b>
        </button>
        <p>ou</p>
        <a routerLink="/deslogado/inicial" class="underline">Não tenho cadastro</a>
    </div>
</div>