@import '~@angular/material/theming';

h1{
    font-family: 'Montserrat';
    font-size: 28px;
    text-transform: uppercase;
    color: #001190;
}

mat-label{
    color: #001190;
    font-size: 18px;
    font-weight: bold;
}

input{
    border: 1px solid #ADB5BD;
    border-radius: 5px;
    height: 49px;
}

mat-error, .forget{
    color: #E03131 !important;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.button-login{
    border: none;
    border-radius: 5px;
    background-color: #33CCCC;
    color: #FFFFFF;
    width: 140px;
    height: 50px;
    font-size: 22px;
}

input, p, .underline{
    color: #495057;
    font-family: 'Nunito';
    font-size: 18px;
}

.underline{
    text-decoration: none;
    border-bottom: solid 2px #33CCCC !important; 
}