@import '~@angular/material/theming';
@import 'scss/fonts';
@import 'scss/format';

// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
  height: 100%;
  box-sizing: border-box;
  line-height: 1;
}

b{
	font-weight: bold;
}

h1{
    font-family: 'Montserrat' !important;
    font-size: 28px !important;
    text-transform: uppercase;
    color: #001190;
}

a{
    color: #FFFFFF;
    font-size: 18px;
	font-family: 'Nunito';
    text-decoration: none;
}

button, .mat-button{
	font-family: 'Nunito';
	font-size: 18px;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
}

.material-icons {
	font-size: 24px;
	font-family: 'Material Icons', 'Material Icons';  
	.mat-badge-content {
	  font-family: 'Roboto';
	}
}

.container{
	margin: 20px;
	padding: 4rem 5rem 5rem 5rem;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
	border: 1px solid #ADB5BD;
	border-radius: 5px !important;
}

@media  (max-width: 768px) {
    .container{
        padding: 3rem 1rem 3rem 1rem;
		margin: 0px;
    }
}